<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ANGULARJS</title>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.js"></script>
  <script src="./app.js"></script>
</head>
<body ng-app="myApp">
  <div ng-controller="parentCtrl as parent">
    <button ng-click="parent.showAlert()">Show Alert</button>
    <button ng-click="parent.showPrompt()">Show Prompt</button>
    <button ng-click="parent.showConfirm()">Show Confirm</button>
  </div>
  <hr />
  <container>
    <my-button ng-click="container.showAlert()" title="Show Alert"></my-button>
    <my-button ng-click="container.showPrompt()" title="Show Prompt"></my-button>
    <my-button ng-click="container.showConfirm()" title="Show Confirm"></my-button>
  </container>
</body>
</html>